id_rsa
id_rsa.pub

# Outputs

*_output_*.png
*_output*.png
*_output_*.jpg
*_output*.jpg

# Python
__pycache__

# Tesseract
*.html
out.*

# Virtual ENV
venv/

# Configuration
config.json
config.yaml
config.yml

.env
*.env